body {
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 30px;
}
footer{
width: 1220px;
height: 60px;
background: #FADB46;
position: absolute;
}
footer a{
    text-decoration: none;
    color: black;
    margin: 20px 500px 10px 500px;
    font-size: 35px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    background-color: navy;
}
main img{
    height: 250px;
}
header{
    background-color: #F5CD05;
    height: 40px;
}
